* {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
.index-container p {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

.index-container ul {
    list-style: none;
    padding-left: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #E3ECF3;
    color: white;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 8px;
}

.index-container li a {
    color: black;
}

a {
    text-decoration: none;
    color: #304C89;
}

.index-container {
    border-radius: 25px;
    background-color: #A3CEF1;
}

img {
    max-width: 95%;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

.recipe-card {
    max-width: 480px;
    margin: 0 auto;
    background-color: #A3CEF1;
    border-radius: 25px;
}

.recipe-section {
    background-color: #E3ECF3;
    border-radius: 25px;
    padding: 4px;
    margin: 8px;
}